.forecastWeather {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 30px;
  padding: 0px 25px;
  box-sizing: border-box;
}

.forecastContainer {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding-bottom: 10px;
  justify-content: left;
}

.forecastContainer::-webkit-scrollbar {
  height: 5px;
}

.forecastContainer::-webkit-scrollbar-track {
  background-color: #3a3a3a;
  border-radius: 10px;
}

.forecastContainer::-webkit-scrollbar-thumb {
  background-color: #616161;
  border-radius: 10px;
}

.forecastContainer::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
