.forecast {
  background-color: #3498db;
  padding: 8px;
  border-radius: 8px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forecastTemp {
  width: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.forecast p {
  margin: 0;
}

.weather {
  display: flex;
  justify-content: flex-end;
}

.weather span {
  font-size: 10px;
}

.weather p {
  font-size: 25px;
}

.weatherBottom {
  box-sizing: border-box;
}

.weatherBottom p {
  margin: 0;
  font-size: 13px;
}

.forecast img {
  width: 30px;
  height: 30px;
}

.date {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #dddddd;
}
