.container {
  display: flex;
  min-height: 135px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 35px 25px;
}

.loader {
    text-align: center;
    font-size: 18px;
    color: #585858;
    margin-top: 20px;
  }